/* copied from MDN */
/* FIXME make this work */
datalist {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	writing-mode: vertical-lr;
	width: 200px;
}
input[type="range"] {
	width: 200px;
}
option {
	padding: 0;
}
